<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.se_project.mapper.ITrainMapper">
    <select id="searchTrain" resultType="java.util.List&lt;Train&gt;">
        select * from trains
        where start_station = #{start_station}
        and arrive_station =#{arrive_station}
        and date =#{date}
        <choose>
            <when test="#{is_GD} == 2">
                AND (type = 0 OR type = 1)
            </when>
            <when test="#{is_GD} == 1">
                AND type = 1
            </when>
            <when test="#{is_GD} == 0">
                AND type = 0
            </when>
        </choose>
        AND (
        <choose>
            <when test="#{seat_type[0]} == true">
                businessSeatSurplus >= 0
            </when>
        </choose>
        OR
        <choose>
            <when test="seat_type[1] == true">
                firstClassSeatSurplus >= 0
            </when>
        </choose>
        OR
        <choose>
            <when test="seat_type[2] == true">
                secondClassSeatSurplus>= 0
            </when>
        </choose>
        OR
        <choose>
            <when test="seat_type[3] == true">
                softSleeperSurplus >= 0
            </when>
        </choose>
        OR
        <choose>
            <when test="seat_type[4] == true">
                hardSleeperSurplus >= 0
            </when>
        </choose>
        OR
        <choose>
            <when test="seat_type[5] == true">
                hardSeatplus>= 0
            </when>
        </choose>
        )
        ORDER BY
        <choose>
            <when test="#{sort_type} == 2">
                start_time DESC
            </when>
            <when test="#{sort_type} == 3">
                duration ASC
            </when>
            <when test="#{sort_type} == 1">
                start_time ASC
            </when>
        </choose>
    </select>

</mapper>